# Bestanden en mappen gegenereerd door Visual Studio
[Dd]ebug/
[Rr]elease/
x64/
x86/
extern/
[Bb]uild/
[Bb]in/
[Ll]og/
[Ll]ogs/

# User-specifieke bestanden
*.user
*.userosscache
*.suo
*.userprefs

# NuGet Packages
**/packages/*

# Builds
*.pdb
*.ilk
*.aps
*.ncb
*.sdf
*.opensdf
*.tlog
*.log
*.vspscc
*_i.c
*_p.c
*.iobj
*.ipdb
*.pgc
*.obj
*.pgd
*.rsp
*.sb
*.tlb
*.tlh
*.tli
*.ilk
*.meta
*.pch
*.pdb
*.ipch
*.idb
*.res
*.sbr
#*.exe
*.dll
#*.lib
*.exp
*.manifest

# Visual Studio-cachebestanden
ipch/
*.opendb
*.VC.db
*.VC.VC.opendb

# Testbestanden
TestResults/

# Resharper-bestanden
_ReSharper*/
*.[Rr]e[Ss]harper

# Teamcity-bestanden
_TeamCity*

# Visual Studio Code (voor degenen die het gebruiken)
.vscode/

# Systeembestanden
.DS_Store
Thumbs.db

# Windows image file caches
ehthumbs.db

# Folder config file
Desktop.ini

# Mappen van Visual Studio-solutions
.vs/